<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <!-- <form class="form-inline">
          <div class="form-group mx-sm-3 mb-2 mt-2">
            <label>marque Moto</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="marqueMoto"
              name="marqueMoto"
              class="form-control"
            />
            <button
              type="submit"
              (click)="rechercheMoto()"
              class="btn btn-primary mb-2 ml-2"
            >
              Rechercher
            </button>
          </div>
        </form> -->
        <!-- <form class="form-inline">
          <div class="form-group mx-sm-3 mb-2 mt-2">
            <label>marque moto en tapant</label>
            <input
              class="form-control"
              #searchTerm
              (keyup)="onKeyUp(searchTerm.value)"
            />
          </div>
        </form> -->
        <form class="form-inline">
          <div class="form-group mx-sm-3 mb-2 mt-2">
            <label>recherche par marque moto </label>
            <input
              #nom
              [(ngModel)]="searchTerm"
              name="searchTerm"
              class="form-control"
            />
          </div>
        </form>
      </div>

      <table class="table table-striped">
        <tr>
          <th>Id</th>
          <th>Marque</th>
          <th>Prix</th>
          <th>Date Du fabrication</th>
          <th>Model</th>
        </tr>
        <tbody *ngFor="let moto of motos | searchFilter : searchTerm">
          <tr>
            <td>{{ moto.idMoto }}</td>
            <td>{{ moto.marqueMoto }}</td>
            <td>{{ moto.prixMoto }}</td>
            <td>{{ moto.dateCreation | date : "dd/MM/yyyy" }}</td>
            <td>{{ moto.motoModel!.marqueMoto }}</td>
            <!-- <td>
                <a
                  *ngIf="authService.isAdmin()"
                  class="btn btn-danger"
                  (click)="supprimerMoto(moto)"
                >
                  Supprimer
                </a>
              </td>
              <td>
                <a
                  *ngIf="authService.isAdmin()"
                  class="btn btn-success"
                  [routerLink]="['/updateMoto', moto.idMoto]"
                >
                  Modifier
                </a>
              </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
