<div class="container">
  <div>
    <h2>Modifier un Moto :</h2>
  </div>
  <form>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>ID Moto</label>
      <input
        readonly
        type="text"
        [(ngModel)]="currentMoto.idMoto"
        name="idMoto"
        class="form-control"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>marque Moto</label>
      <input
        type="text"
        [(ngModel)]="currentMoto.marqueMoto"
        name="marqueMoto"
        class="form-control"
      />
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Prix Moto</label>
      <input
        type="number"
        [(ngModel)]="currentMoto.prixMoto"
        name="prixMoto"
        class="form-control"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date du fabrication</label>
      <input
        type="date"
        [ngModel]="currentMoto.dateCreation | date : 'yyyy-MM-dd'"
        (ngModelChange)="currentMoto.dateCreation = $event"
        name="dateCreation"
        class="form-control"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label for="">Model du Moto</label>
      <select
        class="form-control form-control-lg"
        id="idModel"
        name="idModel"
        [(ngModel)]="updatedMotoModelId"
      >
        <option *ngFor="let mod of motoModels" [value]="mod.idModel">
          {{ mod.nomModel }}
        </option>
      </select>
    </div>
    <div class="mt-2">
      <button type="submit" (click)="updateMoto()" class="btn btn-success">
        Modifer
      </button>
    </div>
  </form>
</div>
